# IDE storage

.vs/**
Debug/**
Release/**
**.opendb
**.sdf
**.VC.db
**/_cpyHook.pyd
vimproc.vim/
EventGhost.exe.log
**.pyc
**/EventGhost.iml
**/inspectionProfiles/Project_Default.xml
**/misc.xml
**/modules.xml
**/vcs.xml
**/workspace.xml
**/eg.iml
**/Project_Default.xml
**/misc.xml
**/modules.xml
**/vcs.xml
**/workspace.xml
.i
*.pyd
*.dll
